{% extends 'chat2/base.html'%}
{% block content %}
<div class="chatarea">
  <div class="head">
    <h2 id="home-header"><b>{{username}}</b> - chat room</h2>
    <div id="room-subsection">
            <h4 id="room-code-display">Chat with : <b>{{roomcode}}</b>&nbsp;&nbsp;&nbsp;Receiver :<b>{{receiver}}</b></h4>
            <a href="/chatlist_back?username={{username}}"> <button type="submit" class="leave_btn" value="Leave the chat">Leave the chat</button></a><br>
    </div>
  </div>
<div id="chat-room-widget">
    <div class="message_container" >
        <ul id="messages"></ul>
    </div>
    <div id="message-box">
       <input type="text"  name="message" id="message_input" placeholder="Type a message here">
       <button  type="submit"  onclick="sendMessage()" id="send-btn">Send</button>
    </div>
</div>

<script>
    const socket=io();
    var messages=document.getElementById("messages");
        socket.on("message",function(message){
            console.log(message)
            if(message.sender=="{{username}}"){
                createChatItem(message.message,message.sender,message.receiver); 
            }
            if(message.receiver=="{{username}}"){
                createrecvitem(message.message,message.sender,message.receiver)
            }
            if(message.sender==""){
                 entrymsg(message.message)
             }
        });
        function entrymsg(message){
            content=`<p class="member-activity">${message}</p>`;
            messages.innerHTML=content
        }
        function createrecvitem(message,sender,receiver){
            var content=`<li class="message-item recv-message-item">
                                 <p>${message}</p>
                                 <small class="muted-text-white">${new Date().toLocaleString()}</small>
                                 </li>`
            messages.innerHTML+=content
        }

        function createChatItem(message,sender,receiver)
        {
            console.log(message)
            
                console.log(sender)
                
                var content=`<li class="message-item self-message-item">
                                 <p>${message}</p>
                                 <small class="muted-text">${new Date().toLocaleString()}</small>
                                 </li>`
            
            messages.innerHTML+=content;
        }
       
       function sendMessage(){
           var msgInput=document.getElementById("message_input")
           if(msgInput.value==="")return;
           var msg=msgInput.value;
           socket.emit("message",{data:msg });
           msgInput.value="";
       }
       
</script>
{% for message in messages %}
<script>
    createChatItem("{{message.message}}","{{message.sender}}","{{message.receiver}}");
    createrecvItem("{{message.message}}","{{message.sender}}","{{message.receiver}}");
</script>
{% endfor %}
</div>

{% endblock %}