{% extends 'chat2/base.html'%}
{% block content %}
<div class="chatarea">
  <div class="head">
    <h2 id="home-header"><b>{{username}}</b> - chat room  </h2>
    <div id="room-subsection">
        <h4 id="room-code-display">Chat with : <b>{{roomcode}}</b>&nbsp;&nbsp;&nbsp;Receiver : <b>{{receiver}}</b></h4>
        <a href="/chatlist_back?username={{username}}"><button type="submit" class="leave_btn" value="Leave the chat">Leave the chat</button></a>&nbsp;
        <button type="submit" class="leave_btn" name="history" onclick="show_msg()">check history</button>
    </div>
  </div>
<div id="chat-room-widget">
    <div class="message_container" >
        <ul id="messages"></ul>
    </div>
    <div id="message-box">
       <input type="text"  name="message" id="message_input" placeholder="Type a message here">
    <button  type="submit"  onclick="sendMessage()" id="send-btn">Send</button>
    </div>
</div>

<script>
    const socket=io();
    var messages=document.getElementById("messages");
    //---------------------------code for listening message-------------------------------------------
        socket.on("message",function(message)
        { 
            if(message.sender=="{{username}}"){
                createChatItem(message.message,message.sender,message.receiver); 
            }
            if(message.receiver=="{{username}}"){
                createrecvitem(message.message,message.sender,message.receiver)
            }
            if(message.sender==""){
                 entrymsg(message.message)
             }
        });
    //-------------------------function for entry message display-----------------------------------------
        function entrymsg(message)
        {
            content=`<p class="member-activity">${message}</p>`;
            messages.innerHTML=content
        }
    //-------------------------function for receiving message display-----------------------------------------
        function createrecvitem(message,sender,receiver)
        {
            var content=`<li class="message-item recv-message-item">
                                 <p>${message}</p>
                                 <small class="muted-text-white">${new Date().toLocaleString()}</small>
                                 </li>`
            messages.innerHTML+=content
        }
     //-------------------------function for sending message display-----------------------------------------
        function createChatItem(message,sender,receiver)
            {  
                var content=`<li class="message-item self-message-item">
                            <p>${message}</p>
                            <small class="muted-text">${new Date().toLocaleString()}</small>
                            </li>`
                messages.innerHTML+=content;
            }
     //-------------------------function for send message-----------------------------------------
            function sendMessage()
            {
                var msgInput=document.getElementById("message_input")
                if(msgInput.value==="")return;
                var msg=msgInput.value;
                socket.emit("message",{data:msg });
                msgInput.value="";
            }
    //-------------------------function for history message display-----------------------------------------  
        function show_msg()
        {  
            k="{{hist}}"
            console.log(k)
            ans="No history"
            if(k=="None"){
                content=`<p class="member-activity">${ans}</p>`;
                messages.innerHTML=content
            }
            else{
                ans="Chat history"
                content=`<p class="member-activity">${ans}</p>`;
                messages.innerHTML=content
            }
            for (i of k.split("("))
            {
                a=i.split(",")[0].split(";")[1]
                newuser="{{username}}"+"&#39"
                if(a==newuser)
                {
                    if(a=="")break;
                    var content1=`<li class="message-item self-message-item">
                                    <p>${i.split(",")[2]}</p>
                                    <small class="muted-text">${i.split(",")[3]}</small>
                                </li>`
                    messages.innerHTML+=content1
                }
                else
                {
                    if(a=="")break;
                    if(i=="None")break;
                    if(i=="")continue;
                    if(i=="[")continue;
                    var content2=`<li class="message-item recv-message-item">
                                    <p>${i.split(",")[2]}</p>
                                    <small class="muted-text">${i.split(",")[3]}</small>
                                 </li>`
                        
                    messages.innerHTML+=content2    
                }  
            } messages.innerHTML+=`<hr/>`   
        }  
            
           
</script>
{% for message in messages %}
<script>
    createChatItem("{{message.message}}","{{message.sender}}","{{message.receiver}}");
    createrecvItem("{{message.message}}","{{message.sender}}","{{message.receiver}}");
</script>
{% endfor %}

</div>

{% endblock %}